! Configuration File for keepalived

global_defs {
   router_id LVS_DEVEL
   vrrp_mcast_group4 224.0.0.18
}

vrrp_script chk_file {
    script "/etc/keepalived/chk_file.sh"
    interval 1
    weight -10
    fall 1
    rise 1
}

vrrp_script chk_ngx {
    script  "/etc/keepalived/chk_ngx.sh"
    weight -10
    interval 1
    fall 1
    rise 1
}

vrrp_instance VI_1 {
    state {{ v1_status }}
    interface {{ interface }}
    virtual_router_id {{ v1_virtual_router_id }}
    priority {{ v1_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 1111
    }
    virtual_ipaddress {
        {{ v1_vip }}/32 dev {{ interface }} label {{ interface }}:1
    }
    track_script {
        chk_file
        chk_ngx
    }
    notify_master "/etc/keepalived/notify.sh master"
    notify_backup "/etc/keepalived/notify.sh backup"
    notify_fault "/etc/keepalived/notify.sh fault"
}

vrrp_instance VI_2 {
    state {{ v2_status }}
    interface {{ interface }}
    virtual_router_id {{ v2_virtual_router_id }}
    priority {{ v2_priority }}
    advert_int 1
    authentication {
        auth_type PASS
        auth_pass 2222
    }
    virtual_ipaddress {
        {{ v2_vip }}/32 dev {{ interface }} label {{ interface }}:1
    }
    track_script {
        chk_file
        chk_ngx
    }
    notify_master "/etc/keepalived/notify.sh master"
    notify_backup "/etc/keepalived/notify.sh backup"
    notify_fault "/etc/keepalived/notify.sh fault"
}
