daemonize yes
pidfile "{{ codis_path }}/run/redis-{{redis_master_port}}.pid"
port {{ redis_master_port }}
tcp-backlog 4096
bind {{ redis_master_ip }} 127.0.0.1
timeout 0
tcp-keepalive 0
loglevel notice
logfile "{{ codis_log }}/redis-{{ redis_master_port }}.log"
databases 16
stop-writes-on-bgsave-error yes
rdbcompression yes
rdbchecksum yes
dbfilename "dump{{ redis_master_port }}.rdb"
dir "{{ codis_data }}"
masterauth "{{ redis_require }}"
slave-serve-stale-data yes
slave-read-only yes
repl-disable-tcp-nodelay no
slave-priority 100
requirepass "{{ redis_require }}"
appendonly yes
appendfilename "appendonly.aof"
appendfsync everysec
no-appendfsync-on-rewrite no
auto-aof-rewrite-percentage 100
auto-aof-rewrite-min-size 64mb
lua-time-limit 5000
slowlog-log-slower-than 10000
slowlog-max-len 128
notify-keyspace-events ""
hash-max-ziplist-entries 512
hash-max-ziplist-value 64
list-max-ziplist-entries 512
list-max-ziplist-value 64
set-max-intset-entries 512
zset-max-ziplist-entries 128
zset-max-ziplist-value 64
activerehashing yes
client-output-buffer-limit normal 0 0 0
client-output-buffer-limit slave 256mb 64mb 60
client-output-buffer-limit pubsub 32mb 8mb 60
hz 10
aof-rewrite-incremental-fsync yes
