tickTime=2000
initLimit=10
syncLimit=5
dataDir={{ app_dir }}/zookeeper/data
dataLogDir={{ app_dir }}/zookeeper/logs
clientPort={{ zk_port }}
server.1={{ server1 }}:2888:3888
server.2={{ server2 }}:2888:3888
server.3={{ server3 }}:2888:3888
